// Change your color you want --- please input rgb color (ex: 22,33,44)

// THEME PALETTE 9 ==========================================
:root {
  // PRIMARY COLOR - Pink
  // --c-primary-50: 234, 253, 248;
  // --c-primary-100: 216, 251, 242;
  // --c-primary-200: 179, 248, 230;
  // --c-primary-300: 141, 244, 218;
  // --c-primary-400: 104, 240, 206;
  // --c-primary-500: 67, 237, 194;
  // --c-primary-600: 30, 233, 182;
  // --c-primary-700: 18, 188, 146;
  // --c-primary-800: 13, 137, 106;
  // --c-primary-900: 8, 86, 67;

  // PRIMARY COLOR - Gap Red
  --c-primary-50: 238, 243, 255;
  --c-primary-100: 217, 227, 255;
  --c-primary-200: 188, 207, 255;
  --c-primary-300: 142, 177, 255;
  --c-primary-400: 89, 135, 255;
  --c-primary-500: 62, 101, 255;
  --c-primary-600: 27, 56, 245;
  --c-primary-700: 20, 38, 225;
  --c-primary-800: 23, 32, 182;
  --c-primary-900: 25, 34, 143;
  --c-primary-950: 20, 23, 87;

  // SECONDARY COLOR - Gap Blue
  --c-secondary-50: 253, 245, 246;
  --c-secondary-100: 249, 228, 233;
  --c-secondary-200: 242, 194, 205;
  --c-secondary-300: 235, 161, 177;
  --c-secondary-400: 227, 127, 149;
  --c-secondary-500: 220, 94, 122;
  --c-secondary-600: 213, 60, 94;
  --c-secondary-700: 178, 38, 70;
  --c-secondary-800: 132, 28, 52;
  --c-secondary-900: 86, 19, 34;
  --c-secondary-950: 63, 14, 25;

  // NEUTRAL COLOR
  --c-neutral-50: 250, 250, 250;
  --c-neutral-100: 244, 244, 245;
  --c-neutral-200: 228, 228, 231;
  --c-neutral-300: 212, 212, 216;
  --c-neutral-400: 161, 161, 170;
  --c-neutral-500: 113, 113, 122;
  --c-neutral-600: 82, 82, 91;
  --c-neutral-700: 63, 63, 70;
  --c-neutral-800: 39, 39, 42;
  --c-neutral-900: 24, 24, 27;
}
