.wmdeMarkdown {
  @apply bg-transparent whitespace-pre-wrap text-wrap;

  @media (max-width: 1440px) {
    @apply text-[14px];
  }
  h1 {
    @apply text-lg font-bold border-none;
  }
  h2 {
    @apply text-lg font-bold border-none;
  }
  h3 {
    @apply text-base font-bold border-none;
  }
  h4,
  h5,
  h6 {
    @apply text-base font-bold border-none;
  }
}
